/* custom global variables */
:root {
  --cb-warm-white: #fff5eb;
  --cb-light-blue: #7c9fc0;
  --cb-blue: #16548b;
  --cb-light-gold: #f4e6cd;
  --cb-gold: #8c734b;
  --cb-grey: #8b8a8e;
  --cb-dark-grey: #7D7B79;
}

/* Breakpoint Extra Small (< 576px) */
body {
  background-color: var(--cb-blue);
}

main {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

nav {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

footer {
  margin-bottom: 3.5rem;
}

.cb-anchor {
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden;
}

.navbar-toggler {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--cb-blue);
  border-radius: .5rem;
  color: var(--cb-warm-white);
}

.navbar-toggler:focus {
  box-shadow: none;
}

#cb-navigation {
  padding-bottom: 0;
}

#cb-navbar-content {
  background-color: var(--cb-blue);
  text-align: center;
}

#cb-footer-navbar {
  padding-top: 0;
  padding-bottom: 0;
}

#cb-footer-content {
  background-color: var(--cb-gold);
}

.col a {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--cb-gold);
  border-bottom: 1px solid var(--cb-gold);
  text-decoration: none;
  transition: all .15s ease-in-out;
}

.col a:hover,
.col a:focus {
  color: var(--cb-warm-white);
  background-color: var(--cb-light-blue);
  border-bottom: 1px solid transparent;
}

.nav-link {
  color: var(--cb-warm-white) !important;
}

#cb-navbar-content .nav-link:hover {
  background-color: var(--cb-warm-white) !important;
  color: var(--cb-blue) !important;
}

#cb-footer-content {
  text-align: center;
}

#cb-footer-content .nav-link:hover {
  background-color: var(--cb-warm-white) !important;
  color: var(--cb-gold) !important;
}

h1, h2, h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  word-spacing: 0.1rem;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: var(--cb-blue);
}

h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: var(--cb-gold);
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--cb-blue);
}

h2 + h3 {
  margin-top: 1.5rem;
}

p, ul {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 180%;
  word-spacing: 0.15rem;
  color: var(--cb-dark-grey);
}

h1, h2, h3, p {
  padding-left: 3rem;
  padding-right: 3rem;
}

ul {
  padding-left: 5rem;
  padding-right: 3rem;
}

#cb-img-chorleitung {
  width: 10rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

#cb-navigation.bg-dark {
  background-color: var(--cb-blue) !important;
}

#cb-footer-navbar.bg-dark {
  background-color: var(--cb-gold) !important;
}

#cb-header-logo {
  margin-top: .5rem;
  width: 6rem;
}

.row {
  background-color: var(--cb-warm-white);
}

/* Custom breakpoint for header logo */
@media (min-width: 350px) {
  #cb-header-logo {
    width: 7rem;
  }
}

/* Custom breakpoint for header logo */
@media (min-width: 400px) {
  #cb-header-logo {
    width: 8rem;
  }
  .col a {
    white-space: nowrap;
  }
}

/* Custom breakpoint for header logo */
@media (min-width: 450px) {
  #cb-header-logo {
    width: 9rem;
  }
}

/* Custom breakpoint for header logo */
@media (min-width: 500px) {
  #cb-header-logo {
    width: 10rem;
  }
}

/* Breakpoint Small (sm) */
@media (min-width: 576px) {
  html:before {
    content: ' ';
    display: block;
    background-image: linear-gradient(to top, var(--cb-light-blue), var(--cb-light-gold));
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;
  }
  footer {
    margin-bottom: 0;
  }
  #cb-navigation {
    padding-bottom: .5rem;
  }
  #cb-header-logo {
    width: 10rem;
  }
  .navbar-dark .navbar-nav .nav-link, p, ul {
    font-size: 1.1rem;
  }
  h1, h2, h3, p {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  ul {
    padding-left: 6rem;
    padding-right: 4rem;
  }
  #cb-img-chorleitung {
    width: 14rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/* Breakpoint Medium (md) */
@media (min-width: 768px) {
  #cb-header-logo {
    width: 12rem;
    margin-top: 1.2rem;
  }
  .navbar-dark .navbar-nav .nav-link, p, ul {
    font-size: 1.2rem;
  }
  #cb-img-chorleitung {
    margin-right: 1.2rem;
    margin-top: .6rem;
  }
}

/* Breakpoint Large (lg) */
@media (min-width: 992px) {
  #cb-header-row {
    /*background-image: url("../images/background-lg.jpg");*/
  }
  #cb-header-logo {
    width: 16rem;
  }
  .navbar-dark .navbar-nav .nav-link, p, ul {
    font-size: 1.3rem;
  }
  h1, h2, h3, p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  ul {
    padding-left: 7.5rem;
    padding-right: 5rem;
  }
  #cb-img-chorleitung {
    width: 18rem;
    margin-left: 5rem;
  }
  .cb-img {
    width: 50rem;
    margin-left: 5rem;
  }
}

/* Breakpoint Extra Large (xl) */
@media (min-width: 1200px) {
  #cb-header-logo {
    width: 20rem;
  }
  .navbar-dark .navbar-nav .nav-link, p, ul {
    font-size: 1.4rem;
  }
  h1, h2, h3, p {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  ul {
    padding-left: 8.5rem;
    padding-right: 6rem;
  }
  #cb-img-chorleitung {
    margin-left: 6rem;
  }
  .cb-img {
    width: 55rem;
    margin-left: 6rem;
  }
}

/* Breakpoint Extra Extra Large (xxl) */
@media (min-width: 1400px) {
  #cb-header-logo {
    width: 22rem;
  }
  .navbar-dark .navbar-nav .nav-link, p, ul {
    font-size: 1.5rem;
  }
  h1, h2, h3, p {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  ul {
    padding-left: 10rem;
    padding-right: 7rem;
  }
  #cb-img-chorleitung {
    width: 20rem;
    margin-left: 7rem;
  }
  .cb-img {
    width: 60rem;
    margin-left: 7rem;
  }
}
