/* custom global variables */
:root {
  --cb-light-blue: #65c1e1;
  --cb-blue: #16548b;
  --cb-light-gold: #f2cb82;
  --cb-gold: #8c734b;
  --cb-light-grey: #ecf2f4;
  --cb-grey: #8b8a8e;
}

/* fonts */
@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Regular.ttf");
}

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: MerriweatherSans;
  src: url("../fonts/MerriweatherSans-Regular.ttf");
}

@font-face {
  font-family: MerriweatherSans;
  src: url("../fonts/MerriweatherSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: MerriweatherSans;
  src: url("../fonts/MerriweatherSans-Italic.ttf");
  font-style: italic;
}

/* Breakpoint Extra Small (< 576px) */
body {
  /* prevents vertical scrolling caused by background-image */
  overflow-x: hidden;
}

nav {
  font-family: Merriweather, serif;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--cb-light-grey);
}

h1 {
  font-family: Merriweather, serif;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: Merriweather, serif;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

p {
  font-family: MerriweatherSans, sans-serif;
  line-height: 180%;
}

#header {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bg-dark {
  background-color: var(--cb-blue) !important;
}

.row.cb-gold {
  background-color: var(--cb-gold);
}

.row.cb-blue {
  background-color: var(--cb-blue);
}

.row.cb-grey {
  background-color: var(--cb-grey);
}

.row.cb-gold h1 {
  color: var(--cb-light-gold);
}

.row.cb-blue h1 {
  color: var(--cb-light-blue);
}

.row.cb-grey h1 {
  color: var(--cb-blue);
}

.row.cb-blue h3 {
  color: var(--cb-light-grey);
}

.row.cb-grey h3 {
  color: var(--cb-light-grey);
}

.row.cb-gold p,
.row.cb-blue p,
.row.cb-grey p {
  color: var(--cb-light-grey);
}

/* Breakpoint Small (sm) */
@media (min-width: 576px) {
  .row {
    padding-left: 50%;
    margin-left: -50%;
    padding-right: 50%;
    margin-right: -50%;
  }


}

/* Breakpoint Medium (md) */
@media (min-width: 768px) {
  p {
    font-size: 1.2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.2rem;
  }
}

/* Breakpoint Large (lg) */
@media (min-width: 992px) {
  p {
    font-size: 1.3rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.3rem;
  }
}

/* Breakpoint Extra Large (xl) */
@media (min-width: 1200px) {
  p {
    font-size: 1.4rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.4rem;
  }
}

/* Breakpoint Extra Extra Large (xxl) */
@media (min-width: 1400px) {
  p {
    font-size: 1.5rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.5rem;
  }
}
