/* custom global variables */
:root {
  --cb-blue: #16548b;
  --cb-light-gold: #FFDB99;
  --cb-gold: #8c734b;
  --cb-light-grey: #dedede;
  --cb-grey: #8b8a8e;
}

/* Breakpoint Extra Small (< 576px) */
body {
  background-color: var(--cb-gold);
  background-image: url("../images/background-sm.jpg");
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-position: top center;
  background-size: contain;
}

nav {
  font-family: Merriweather, serif;
  font-weight: bold;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.navbar-toggler {
  margin-left: auto;
  margin-right: auto;
}

#navbarContent {
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

h1, h3 {
  font-family: Merriweather, serif;
  font-weight: bold;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 200%;
}

p:last-child {
  margin-bottom: 3rem;
}

.bg-dark {
  background-color: var(--cb-blue) !important;
}

#cb-header-row {
  margin-top: 5.8rem;
}

#cb-header-logo {
  margin-top: 1.2rem;
  width: 7rem;
}

.cb-gold {
  background-color: var(--cb-gold);
}

.cb-gold h1 {
  color: var(--cb-light-gold);
}

.cb-gold h3 {
  color: var(--cb-light-grey);
}

.cb-gold p {
  color: white;
}

/* Custom breakpoint for header logo */
@media (min-width: 390px) {
  #cb-header-row {
    margin-top: 6.4rem;
  }

  #cb-header-logo {
    width: 8rem;
  }
}

/* Custom breakpoint for header logo */
@media (min-width: 450px) {
  #cb-header-row {
    margin-top: 7rem;
  }

  #cb-header-logo {
    width: 9rem;
  }
}

/* Breakpoint Small (sm) */
@media (min-width: 576px) {
  p:last-child {
    margin-bottom: 1rem;
  }

  #cb-header-row {
    margin-top: 7.8rem;
  }
  #cb-header-logo {
    width: 10rem;
  }
  .navbar-dark .navbar-nav .nav-link, p {
    font-size: 1.1rem;
  }
}

/* Breakpoint Medium (md) */
@media (min-width: 768px) {
  #cb-header-row {
    margin-top: 9rem;
  }
  #cb-header-logo {
    width: 12rem;
  }
  .navbar-dark .navbar-nav .nav-link, p {
    font-size: 1.2rem;
  }
}

/* Breakpoint Large (lg) */
@media (min-width: 992px) {
  #cb-header-row {
    margin-top: 11.7rem;
  }
  #cb-header-logo {
    width: 16rem;
  }
  .navbar-dark .navbar-nav .nav-link, p {
    font-size: 1.3rem;
  }
}

/* Breakpoint Extra Large (xl) */
@media (min-width: 1200px) {
  body {
    background-image: url("../images/background-xl.jpg");
  }
  #cb-header-row {
    margin-top: 12.9rem;
  }
  #cb-header-logo {
    width: 18rem;
  }
  .navbar-dark .navbar-nav .nav-link, p {
    font-size: 1.4rem;
  }
}

/* Breakpoint Extra Extra Large (xxl) */
@media (min-width: 1400px) {
  #cb-header-row {
    margin-top: 14.2rem;
  }
  #cb-header-logo {
    width: 20rem;
  }
  .navbar-dark .navbar-nav .nav-link, p {
    font-size: 1.5rem;
  }
}
